doctype html
html
  head
    title luci Dance academy 
    block scripts
    block style
  body
    nav#navbar 
            ul
                div#logo 
                    img(src="/static/logo.png")
                    |LDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") services]
                li #[a(href="/") Class info]
                li #[a(href="/contact") Contact us]
    block content
    footer#footer
        | copyright © 2024 lucidanceacademy.com | All Right Reserved  
